In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import os
f = os.getcwd()
f

'C:\\Users\\USUARIO\\OneDrive\\Universidad\\Proyecto de Grado\\Repositorio\\Proyecto-Electronica\\DATOS SOLAR'

In [4]:
f = os.getcwd()
mes = input('Ingrese el mes: ')
año = input('Ingrese el año: ')

datos = pd.read_csv(f+ '\\'+ mes+' '+año+'.csv',encoding= 'UTF-8',error_bad_lines=False)
datos

Ingrese el mes: Octubre
Ingrese el año: 2019

,Fecha,Hora,Potencia [kW],Insolacion [W/m2],Temperatura de modulos [C],Temperatura ambiente [C]
0,1/10/2019,0:00,x,1.04,10.27,10.344733
1,1/10/2019,0:05,x,1.04,10.06,10.387114
2,1/10/2019,0:10,x,1.04,10.25,10.412650
3,1/10/2019,0:15,x,1.04,10.46,10.413622
4,1/10/2019,0:20,x,1.04,10.64,10.405428
...,...,...,...,...,...,...
8923,31/10/2019,23:35,x,1.01,10.45,10.546032
8924,31/10/2019,23:40,x,1.02,10.44,10.500931
8925,31/10/2019,23:45,x,1.01,10.42,10.460803
8926,31/10/2019,23:50,x,1.02,10.48,10.437782
8927,31/10/2019,23:55,x,1.01,10.52,10.428754